/* /* main {
  display: flex;
  justify-content: center;
} */



/* .product {
  background-color: #3AD886;
  display: flex;
  height: 300px;
  width: 300px;
}


.product-image{
  height: 100px;
  width: 150px;
}  */