 .main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
} 



 .form-product {
  background-color: #3AD886;
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;
  height: 300px;
  width: 300px;
}


.form-product-image{
  height: 100px;
  width: 150px;
}  

.form-product p {
  margin: 0;
}

.buttons {
  width: 300px;
  display: flex;
  justify-content: space-around;
}

.form-product button {
  background-color: #ED6B5A;
  border: none;

}