 .product {
   height: 130px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;

 }
 
 .product-flex {
   background-color: #D34735;
   height: 120px;
   width: 300px;
   justify-content: space-around;
   display: flex;
   align-items: center;
   font-size: 10px;
   box-sizing: border-box;
  
 }

 .product-info {
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   justify-content: space-around;
   align-content: center;
   height: 102px;
   flex-wrap: wrap;
 }

 .product img{
  height: 100px;
  width: 150px;
}

.product button {
  background-color: #3AD886;
  border: none;
  border-radius: 3px;
  height: 25px;
}

.product p {
  margin: 0;
}